  <!-- ***** Area Bienvenida Inicio ***** -->
    <section class="wellcome_area clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading">
                        <h2>Kumi</h2>
                        <h3>TTPN</h3>
                        <p>¿A dondé te llevaremos hoy?</p>
                    </div>
                    <div class="get-start-area">
                        <!-- Form Inicio -->
                        <form action="#" method="post" class="form-inline">
                            <input type="email" class="form-control email" placeholder="nombre@compañia.com">
                            <input type="submit" class="submit" value="Solicita Acceso">
                        </form>
                        <!-- Form Fin -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Bienvenida thumb -->
        <div class="welcome-thumb wow fadeInDown" data-wow-delay="0.5s">
            <%=image_tag("bg-img/welcome-img.png", alt: "camioneta tipo van")%>
            
        </div>
    </section>
    <!-- ***** Area Bienvenida Fin ***** -->

    <!-- ***** Area Especiales Inicio ***** -->
    <section class="special-area gradient-bck section_padding_100" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Seccion Especial Cabecera -->
                    <div class="section-heading text-center">
                        <h2>Kumi, tu app para control de servicios de transporte</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Area Especial Caja -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single-icon">
                            <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                        </div>
                        <h4>Solicita viajes</h4>
                        <p>Desde cualquier dispositivo de forma rápida y sencilla.</p>
                    </div>
                </div>
                <!-- Area Especial Caja -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single-icon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <h4>Disponibilidad</h4>
                        <p>Obtenga toda su información al momento</p>
                    </div>
                </div>
                <!-- Area Especial Caja -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single-icon">
                            <i class="fa fa-credit-card" aria-hidden="true"></i>
                        </div>
                        <h4>Control de gastos</h4>
                        <p>Mantengase al tanto de sus servicios y consumos.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Area Especial Descripción -->
        <div class="special_description_area mt-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                        <%=image_tag("bg-img/special.png", alt: "")%>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="special_description_content">
                            <h2>Kumi, la aplicación para solicitud de transporte de personal.</h2>
                            <p>Con Kumi podrás realizar la solicitud de tus viajes de tiempo extra de una manera rápida, sencilla y sobre todo desde cualquier dispositivo ya sea smartphone o computadora, También tendrás acceso en todo momento a varias funciones como son la revisión de tus servicios, estadísticas de consumo y muchas más. </p>
                            <div class="app-download-area">
                                <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                                    <!-- Google Btn -->
                                    <a href="#">
                                        <i class="fa fa-android"></i>
                                        <p class="mb-0"><span>Disponible en</span> Google Store</p>
                                    </a>
                                </div>
                                <div class="app-download-btn wow fadeInDown" data-wow-delay="0.4s">
                                    <!-- Apple Btn -->
                                    <a href="#">
                                        <i class="fa fa-apple"></i>
                                        <p class="mb-0"><span>Disponible en</span> Apple Store</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Area Especiales Fin ***** -->

    <!-- ***** Caracteristicas Asombrosas Inicio ***** -->
    <section class="awesome-feature-area bg-white section_padding_0_50 clearfix" id="features">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Texto de Encabezado -->
                    <div class="section-heading text-center">
                        <h2>¿Porqué usar Kumi?</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Caracteristica Unica Inicio -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <h5>Acceso Multi-Usuario</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <!-- Caracteristica Unica Inicio -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <h5>Estadisticos de Viaje</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <!-- Caracteristica Unica Inicio -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        <h5>Control de Gastos</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <!-- Caracteristica Unica Inicio -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <h5>Encriptado de Información</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <!-- Caracteristica Unica Inicio -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                        <h5> Visualización de recorridos</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <!-- Caracteristica Unica Inicio -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="fa fa-headphones" aria-hidden="true"></i>
                        <h5>Soporte Online 24/7</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ***** Caracteristicas Asombrosas Fin ***** -->

    <!-- ***** Area Video Inicio ***** -->
    <div class="video-section ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Area Video Inicio -->
                    <div class="video-area video-background">
                        <div class="video-play-btn">
                            <a href="https://www.youtube.com/watch?v=FkCveViwwBg" class="video_btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Area Video Fin ***** -->

    <!-- ***** Area Hechos Interesantes Inicio ***** -->
    <section class="cool_facts_area clearfix">
        <div class="container">
            <div class="row">
                <!-- Hecho Interesante -->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="counter-area">
                            <h3><span class="counter">40</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="fa fa-download"></i>
                            <p>APP <br> DESCARGAS</p>
                        </div>
                    </div>
                </div>
                <!-- Hecho Interesante -->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="counter-area">
                            <h3><span class="counter">40</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="fa fa-smile-o"></i>
                            <p>CLIENTES <br> FELICES</p>
                        </div>
                    </div>
                </div>
                <!-- Hecho Interesante -->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="counter-area">
                            <h3><span class="counter">40</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="fa fa-users"></i>
                            <p>CUENTAS <br>ACTIVAS</p>
                        </div>
                    </div>
                </div>
                <!-- Hecho Interesante -->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.8s">
                        <div class="counter-area">
                            <h3><span class="counter">40</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="fa fa-star"></i>
                            <p>TOTAL <br>ESTRELLAS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Area Hechos Interesantes Fin ***** -->

    <!-- ***** Area Screenshots Inicio ***** -->
    <section class="app-screenshots-area bg-white section_padding_0_100 clearfix" id="screenshot">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Texto Cabecera  -->
                    <div class="section-heading">
                        <h2>Paneles de la app</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- App Screenshots -->
                    <div class="app_screenshots_slides owl-carousel">
                        <div class="single-shot">
                            <%=image_tag("scr-img/1.png", alt: "Login de App")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("scr-img/4.png", alt: "Asignacion de Unidad")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("scr-img/2.png", alt: "Menu de App")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("scr-img/3.png", alt: "Pendientes")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("scr-img/4.png", alt: "Asignacion de Unidad")%>
                        </div>
						<div class="single-shot">
                            <%=image_tag("scr-img/5.png", alt: "Estadisticos")%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Area Screenshots Fin *****====== -->

    <!-- ***** Area Planes y precios Inicio *****==== -->
    <section class="pricing-plane-area section_padding_100_70 clearfix" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Texto Cabecera  -->
                    <div class="section-heading text-center">
                        <h2>Planes de Cobro</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-12 col-md-6 col-lg-3">
                    
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Precio de Paquetes -->
                    <div class="single-price-plan text-center">
                        <!-- Contenido del Paquete  -->
                        <div class="package-plan">
                            <h5>Plan Básico</h5>
                            <div class="ca-price d-flex justify-content-center">
                                
                                <h4>GRATIS</h4>
                            </div>
                        </div>
                        <div class="package-description">
                            <p>Acceso Multi-Usuario</p>
                            <p>Historial de viajes</p>
                            <p>Revisión de Rutas Fijas</p>
                            <p>Estadisticos</p>
							
                        </div>
                        <!-- Boton del Plan -->
                        <div class="plan-button">
                            <a href="#">Seleccionar Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Precio del Pacquete -->
                    <div class="single-price-plan active text-center">
                        <!-- Contenido del Paquete -->
                        <div class="package-plan">
                            <h5>Plan Extendido</h5>
                            <div class="ca-price d-flex justify-content-center">
                                <!--<span>$</span>-->
                                <h4>COTIZAR</h4>
                                <!--<span>.00</span>-->
                            </div>
                        </div>
                        <div class="package-description">
                            <p>Ver ruta en línea</p>
                            <p>Descarga de Archivos</p>
                            <p>Carga masiva de pasajeros</p>
                            <p>Solicitud Multi-Forma</p>
							<p>Excel de estadisticos</p>
							<p>Historial rutas online</p>
							<p>Soporte 24/7</p>
                        </div>
                        <!-- Boton del Plan -->
                        <div class="plan-button">
                            <a href="#">Cotizar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Area Planes y precios Fin ***** -->
    
    <!-- ***** Area Retroalimentación de Clients Inicio ***** -->
    <section class="clients-feedback-area bg-white section_padding_100 clearfix" id="testimonials">
        <div class="container">
            <div class="row justify-content-center">
			
                <div class="col-12 col-md-10">
                    <div class="slider slider-for">
                        <!-- Texto de Cliente Retroalimentación  -->
                        <div class="client-feedback-text text-center">
                            <div class="client">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <div class="client-description text-center">
                                <p>“Con la aplicación ahora tenemos control sobre las rutas fijas ”</p>
                            </div>
                            <div class="star-icon text-center">
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                            </div>
                            <div class="client-name text-center">
                                <h5>Lily Robledo</h5>
                                <p>Visteon</p>
                            </div>
                        </div>
                        <!-- Texto de Cliente Retroalimentación  -->
                        <div class="client-feedback-text text-center">
                            <div class="client">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <div class="client-description text-center">
                                <p>“La solicitud de viajes de tiempo extra nos minimizo el tiempo de respuesta.”</p>
                            </div>
                            <div class="star-icon text-center">
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                            </div>
                            <div class="client-name text-center">
                                <h5>Yessica Rios</h5>
                                <p>Honeywell</p>
                            </div>
                        </div>
                        <!-- Texto de Cliente Retroalimentación  -->
                        <div class="client-feedback-text text-center">
                            <div class="client">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <div class="client-description text-center">
                                <p>“Llevamos un control exacto de los gastos y de los pasajeros por unidad.”</p>
                            </div>
                            <div class="star-icon text-center">
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                            </div>
                            <div class="client-name text-center">
                                <h5>Carlos Altamirano</h5>
                                <p>alSuper</p>
                            </div>
                        </div>
                        <!-- Texto de Cliente Retroalimentación  -->
                        <div class="client-feedback-text text-center">
                            <div class="client">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <div class="client-description text-center">
                                <p>“Disminuimos el gasto de papeleria al dejar de imprimir tickets ya que ahora todo es digital”</p>
                            </div>
                            <div class="star-icon text-center">
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                                <i class="ion-ios-star"></i>
                            </div>
                            <div class="client-name text-center">
                                <h5>Paola Hernandez</h5>
                                <p>Resideo</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Area imagen de cliente -->
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="slider slider-nav">
                        <div class="client-thumbnail">
                        <%=image_tag("client-img/client-1.jpg", alt: "")%>
                            
                        </div>
                        <div class="client-thumbnail">
                            <%=image_tag("client-img/client-2.jpg", alt: "")%>
                        </div>
                        <div class="client-thumbnail">
                            <%=image_tag("client-img/client-3.jpg", alt: "")%>
                        </div>
                        <div class="client-thumbnail">
                            <%=image_tag("client-img/client-4.jpg", alt: "")%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Area Retroalimentación de Clients Fin ***** -->

    <!-- ***** Area CTA Inicio ***** -->
    <section class="our-monthly-membership  section_padding_50 clearfix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="membership-description">
                        <h2>Solicite la membresia mensual</h2>
                        <p>Adquiera nuestro plan extendido — 100% satisfacción garantizada.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="get-started-button wow bounceInDown" data-wow-delay="0.5s">
                        <a href="#">Solicitar Acceso </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Area CTA Fin ***** -->

    <!-- ***** Area Equipo de Trabajo Inicio ***** -->
    <section class="our-Team-area bg-white section_padding_100_50 clearfix" id="investors">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Texto Cabecera  -->
                    <div class="section-heading">
                        <h2>Nuestro Equipo</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <%=image_tag("team-img/team-1.jpg", alt: "Rául Ochoa - Director")%>
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Rául Ochoa</h4>
                            <p>Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <%=image_tag("team-img/team-2.jpg", alt: "Abraham Acosta - Operaciones")%>
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Abraham Acosta</h4>
                            <p>Operaciones</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <%=image_tag("team-img/team-3.jpg", alt: "Alejandra Gómez - Nuevos Proyectos")%>
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Alejandra Gómez</h4>
                            <p>Nuevos Proyectos</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <%=image_tag("team-img/team-4.jpg", alt: "Antonio Castellanos - Sistemas")%>
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Antonio Castellanos</h4>
                            <p>Sistemas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Area Equipo de Trabajo Fin ***** -->

    <!-- ***** Area Contactanos Inicio ***** -->
    <section class="footer-contact-area section_padding_100 clearfix" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Contactenos!</h2>
                        <div class="line-shape"></div>
                    </div>
                    <div class="footer-text">
                        <p>Responderemos con gusto todas las dudas que tenga respecto a Kumi. </p>
                    </div>
                    <div class="address-text">
                        <p><span>Dirección:</span> Av. Haciendas del Valle 7104</p>
                    </div>
                    <div class="phone-text">
                        <p><span>Teléfono:</span> +52 614-467-1013</p>
                    </div>
                    <div class="email-text">
                        <p><span>Email:</span> info@ttpn.com.mx</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Form Inicio-->
                    <div class="contact_from">
                        <form action="#" method="post">
                            <!-- Area Campos de Captura Inicio -->
                            <div class="contact_input_area">
                                <div class="row">
                                    <!-- Captura Inicio -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" required>
                                        </div>
                                    </div>
                                    <!-- Captura Inicio -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Correo" required>
                                        </div>
                                    </div>
                                    <!-- Captura Inicio -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea name="Mensaje" class="form-control" id="mensaje" cols="30" rows="4" placeholder="Mensaje *" required></textarea>
                                        </div>
                                    </div>
                                    <!-- Captura Inicio -->
                                    <div class="col-12">
                                        <button type="submit" class="btn submit-btn">Enviar Ahora</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Area Campos de Captura Fin -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Area Contactanos Fin ***** -->